<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBName" value="DBName"/>
    <add key="Username" value="Username"/>
    <add key="Password" value="Password"/>
    <add key="Host" value="Host"/>
    <add key="Port" value="13000"/>
  </appSettings>
</configuration>