<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="santa_claus_data" />
    <add key="DatabaseUser" value="simone" />
    <add key="DatabaseUserPassword" value="simone" />
    <add key="DatabaseHost" value="ds044787.mlab.com" />
    <add key="DatabaseHostPort" value="44787" />
    <add key="DatabaseServeerUser" value="simone" />
    <add key="DatabaseServerUserPassword" value="simone" />
    <add key="DatabaseServerHost" value="ds044787.mlab.com" />
    <add key="DatabaseServerHostPort" value="44787" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>