<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="santa_claus_data"/>
    <add key="DatabaseUser" value="simone"/>
    <add key="DatabaseUserPassword" value="simone"/>
    <add key="DatabaseHost" value="ds044787.mlab.com"/>
    <add key="DatabaseHostPort" value="44787"/>
    <add key="DatabaseServeerUser" value="simone"/>
    <add key="DatabaseServerUserPassword" value="simone"/>
    <add key="DatabaseServerHost" value="ds044787.mlab.com"/>
    <add key="DatabaseServerHostPort" value="44787"/>
  </appSettings>
</configuration>