BOTH
- see screen name 
ziggy -> ziggy.stardust@santa.com Ziggy@TheBest
santa -> santa.claus@santa.com Santa01!

- list of all requests sort by oldest
- see status of kids requests
- list of toys and avaiability


ZYGGY
- details of requests made by kids
- manage status of kids requests


SANTA
- sum of prices for each requests