<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoProtocol" value="mongodb"/>
    <add key="MongoUsername" value="simone"/>
    <add key="MongoPassword" value="simone"/>
    <add key="MongoServer" value="ds044787.mlab.com"/>
    <add key="MongoPort" value="44787"/>
    <add key="MongoDataIdentifier" value="santa_claus_data"/>
  </appSettings>
</configuration>